@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<style>
    .workspace-bg {
        background-image: url(../images/logo-triplei.png);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
    }
</style>

<div class="workspace-bg" style="height:600px;width:50%;margin-left:25%"></div>