@page
@model ChangePasswordModel
@{
    Layout = "/pages/shared/_Layout.cshtml";
    ViewData["Title"] = "Mi cuenta-Cambiar contraseña";
}

<div class="col-md-12">

    <div class="card">
        <div class="card-body">
            <form id="change-password-form" method="post">
                <fieldset>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.OldPassword"></label>
                        <input asp-for="Input.OldPassword" class="form-control" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger k-invalid-msg"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger k-invalid-msg"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </fieldset>
                <br />
                <div class="form-group d-flex">
                    <a asp-page="Index" class="btn btn-link">Regresar</a>
                    <input type="submit" value="Actualizar" class="btn btn-success ml-auto" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
